* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
}
body{
    background: ghostwhite;
    width: 100%;
}
header{
    height: 50px;
    border-bottom: black 3px solid;
}
input{
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    border-radius: .75em;
    border: grey 2px solid;
    text-indent: 10px;
}
button, .button{
    width: 200px;
    height: 30px;
    line-height: 30px;
    background: #ff1f17;
    border: 0;
    border-radius: .75em;
    color: white;
}
h1, h4{
    width: 100%;
    height: 50px;
    text-align: center;
}

header #logo{
    float:left;
    height:100%;
    line-height: 300%;
    text-indent: 10px;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
}
header #logo:hover{
    padding-left: 10px;
}
header #logo img{
    float: left;
    width: auto;
    height: 100%
}
header #log{
    float:right;
    height:100%;
    line-height: 300%;
    text-align: right;
    padding-right: 20px;
}

#home #link{
    float:left;
    width: 250px;
    height: auto;
    list-style-type: none;
    padding: 0;
}
#home #link li{
    float: left;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-indent: 20px;
    background: #ff1f17;
    margin-bottom: 2%;
    border-radius: 0 .75em .75em 0;
    color: white;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
}
#home #link li:hover{
    padding-left: 10px;
}

#home #chats{
    float:right;
    width: 70%;
    list-style-type: none;
}
#home #chats li{
    float: left;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    text-align: center;
}
#home #chats #name{
    float: left;
    width: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    background: white;
    border: dodgerblue 2px solid;
    border-radius: .75em;
    font-weight: bold;
    color: dodgerblue;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
}
#home #chats #name:hover{
    background: dodgerblue;
    color: white;
}
#home #chats #del{
    float: left;
    width: 30px;
    background: dodgerblue;
    border: dodgerblue 2px solid;
    border-radius: .75em;
    color: white;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
}
#home #chats #del:hover{
    background: #ff1f17;
}
#home form{
    text-align: center;
}
#home form .register{
    margin-bottom: 20px;
}

#login form{
    text-align: center;
}
#login form .login{
    margin-bottom: 20px;
}

#rubrica #contacts{
    list-style-type: none;
    text-align: center;
    padding: 0;
}
#rubrica #contacts li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
#rubrica #contacts #name{
    padding: 10px 50px 10px 50px;
    margin-right: 20px;
    background: white;
    border: dodgerblue 2px solid;
    border-radius: .75em;
    font-weight: bold;
    color: dodgerblue;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
}
#rubrica #contacts #name:hover{
    background: dodgerblue;
    color: white;
}
#rubrica #contacts #del{
    padding: 10px;
    background: dodgerblue;
    border: dodgerblue 2px solid;
    border-radius: .75em;
    color: white;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
}
#rubrica #contacts #del:hover{
    background: #ff1f17;
}
#rubrica form{
    margin-top: 50px;
    text-align: center;
}

#new_chat #new_group_link{
    float: left;
    text-indent: 20px;
    border-radius: 0 .75em .75em 0;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
}
#new_chat #new_group_link:hover{
    padding-left: 10px;
}
#new_chat p{
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}
#new_chat #contacts{
    float: right;
    width: 70%;
    padding: 0;
    text-align: center;
    list-style-type: none;
}
#new_chat #contacts a{
    float: left;
    width: 20%;
    height: 30px;
    line-height: 30px;
    margin: 0 17% 20px 18%;
    background: white;
    border: dodgerblue 2px solid;
    border-radius: .75em;
    font-weight: bold;
    color: dodgerblue;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
}
#new_chat #contacts a:hover{
    background: dodgerblue;
    color: white;
}

#new_group p{
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}
#new_group #contacts{
    width: 20%;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
#new_group #contacts li{
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    background: white;
    border: dodgerblue 2px solid;
    border-radius: .75em;
    font-weight: bold;
    color: dodgerblue;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
}
#new_group #contacts li:hover{
    background: dodgerblue;
    color: white;
}
#new_group form{
    text-align: center;
}

#chat #chat_name{
    float: left;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
}
#chat #partecipanti{
    float: left;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;
}

#chat #link{
    float:left;
    width: 250px;
    height: auto;
    list-style-type: none;
    padding: 0;
}
#chat #link #add_partecipante{
    float: left;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-indent: 20px;
    background: #ff1f17;
    margin-bottom: 2%;
    border-radius: 0 .75em .75em 0;
    color: white;
}
#chat #link ul li{
    float: left;
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin-bottom: 2%;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
}
#chat #link ul li:hover{
    padding-left: 10px;
}

#chat #messaggi{
    float: right;
    width: 70%;
}
#chat #messaggi p{
    text-indent: 22%;
}
#chat #messaggi form{
    margin-top: 20px;
}
#chat #messaggi form #id_message{
    float: left;
    width: 50%;
    margin-left: 5%;
}



