<!--Questo template costituisce lo scheletro della web application.-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Chechat{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
<header>
    <a href="../../home">
        <div id="logo">
            <img src="{% static 'img/logo.png' %}" alt="Home"/>Home
        </div>
    </a>
    <div id="log">
        {% if user_logged %}
            {{ user_logged }}
            <a href="../../logout">Logout</a>
        {% else %} <!-- se non si è loggati visualizzo sign in e login -->
            <a href="../../signin">Sign In</a>
            <a href="../../login">Login</a>
        {% endif %}
    </div>
</header>
<main>
    {% block main %}{% endblock %}<!-- permette di definire un’area che poi verrà sostituita in un template finale.-->
</main>
</body>
</html>