{% extends "base.html" %} <!--Indica al sistema di template di Django di caricare un template base ed estenderlo con quello corrente-->
{% block title %}Chat{% endblock %}
{% block main %}
<div id="chat">
    <h1>CHAT</h1>
    <p id="chat_name">{{ chat_name }}</p>
    <div id="partecipanti">
        {% for partecipante in partecipanti %}
            {{ partecipante.phone }}
        {% endfor %}
    </div>
    <ul id="link">
        <p id="add_partecipante">Aggiungi partecipante</p>
        <ul>
            {% for contact in contacts %}
                <li><a href="../../add_partecipante/{{ chat_room_id }}/{{ contact.contatto }}">{{ contact.contatto }}</a></li>
            {% endfor %}
        </ul>
    </ul>
    <div id="messaggi">
        {% for message in messages %}
            <p>{{ message.scritto_da }} - {{ message.message }}</p>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            {{ message_form }}
            <button type="submit" style="visibility: hidden;">Invia</button>
        </form>
    </div>
</div>
{% endblock %}
