{% extends "base.html" %} <!--Indica al sistema di template di Django di caricare un template base ed estenderlo con quello corrente-->
{% block title %}Home{% endblock %}
{% block main %}
<div id="home">
    {% if user_logged %} <!-- se si è loggati visualizzo il telefono e logout -->
    <h1>HOME</h1>
    <ul id="link">
        <a href="../nuova_chat"><li>Nuova chat</li></a>
        <a href="../nuovo_gruppo"><li>Nuovo gruppo</li></a>
        <a href="../rubrica"><li>Rubrica</li></a>
    </ul>
    <ul id="chats">
        {% for chat in chats %}
            <li>
                <a href="../chat/{{ chat.id }}" id="name">{{ chat.name }}</a>
                <a href="../del_chat/{{ chat.id }}" id="del">DEL</a>
            </li>
        {% endfor %}
    </ul>
    {% else %} <!-- se non si è loggati visualizzo un messaggio -->
        <h1>HOME</h1>
        <h4>Devi effettuare l'accesso per usufruire delle funzionalità del sito.</h4>
    {% endif %}
</div>
{% endblock %}
