{% extends "base.html" %} <!--Indica al sistema di template di Django di caricare un template base ed estenderlo con quello corrente-->
{% block title %}Login{% endblock %}
{% block main %}
<div id="login">
    <h1>LOGIN</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in login_form %}
            <div class="login">
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="button">Login</button>
    </form>
    {{ errore }}
</div>
{% endblock %}
