{% extends "base.html" %} <!--Indica al sistema di template di Django di caricare un template base ed estenderlo con quello corrente-->
{% block title %}Nuova chat{% endblock %}
{% block main %}
<div id="new_chat">
    <h1>NUOVA CHAT</h1>
    <p>Seleziona un contatto per iniziare a chattare</p>
    <a href="../nuovo_gruppo" id="new_group_link" class="button">Crea un nuovo gruppo</a>
    <ul id="contacts">
        {% for contact in contacts %}
            <li><a href="/crea/{{ contact.contatto }}" id="name">{{ contact.contatto }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
