{% extends "base.html" %} <!--Indica al sistema di template di Django di caricare un template base ed estenderlo con quello corrente-->
{% block title %}Nuovo gruppo{% endblock %}
{% block main %}
<div id="new_group">
    <h1>NUOVO GRUPPO</h1>
    <p>Seleziona i contatti dalla lista:</p>
    <form method="POST">
        {% csrf_token %}
        <ul id="contacts">
            {% for contact in contacts %}
                <li>
                    <input type="checkbox" id="{{ contact.id }}" name="{{ contact.id }}"  value="{{ contact.contatto }}">
                    <label for="{{ contact.id }}">{{ contact.contatto }}</label>
                </li>
            {% endfor %}
        </ul>
        {{ check_form.group_name }}
        <button type="submit" class="button">Crea</button>
    </form>
    {{ x }}
</div>
{% endblock %}
