{% extends "base.html" %} <!--Indica al sistema di template di Django di caricare un template base ed estenderlo con quello corrente-->
{% block title %}Rubrica{% endblock %}
{% block main %}
<div id="rubrica">
    <h1>RUBRICA</h1>
    {% if user_logged %} <!-- se si è loggati visualizzo il telefono e logout -->
        <ul id="contacts">
            {% for contact in contacts %}
                <li>
                    <a href="/crea/{{ contact.contatto }}" id="name">{{ contact.contatto }}</a>
                    <a href="../del_contact/{{ contact.contatto }}" id="del">DEL</a>
                </li>
            {% endfor %}
        </ul>
        <form action="." method="POST">
            {% csrf_token %}
            {{ new_contatto_form }}
            <button type="submit" class="button">Aggiungi</button>
        </form>
        {{ errore }}
    {% else %} <!-- se non si è loggati visualizzo login -->
        <a href="../login">Login</a>
    {% endif %}
</div>
{% endblock %}
