{% extends "base.html" %} <!--Indica al sistema di template di Django di caricare un template base ed estenderlo con quello corrente-->
{% block title %}Registrati{% endblock %}
{% block main %}
<div id="registrati">
    <h1>REGISTRATI</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in register_form %}
            <div class="register">
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="button">Sign in</button>
    </form>
    {{ errore }}
</div>
{% endblock %}
